<div class="container-fluid mt-5">
 <h2 align-items-center><strong>ユーザー一覧</strong></h2>
 <table class="table table-hover table-inverse">
  <% @users.each do |user| %>
    <tbody>
      <tr>
       <td><%= image_tag user.get_profile_image(50,50) %></td>
       <td class="align-items-center pt-4"><%= link_to user.name, admins_user_path(user.id) %></td>
       <td class="align-items-center pt-4">フォロー数: <%= user.followings.count %> フォロワー数: <%= user.followers.count %></td>
       <td class="align-items-center pt-4"><%= link_to '削除', admins_user_path(user), method: :delete, data: { confirm: "アカウントを削除してもよろしいですか？" } %></td>
      </tr>
    </tbody>
  <% end %>
 </table>
</div>