<!DOCTYPE html>
<html>
  <head>
    <title>Doors</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <header class= "shadow">
    <nav class="navbar navbar-expand-lg navbar-light">
     <div class= "container">
      <a class="navbar-brand" href="/" style="color: #919191; font-size: 30px;">DOORS</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class= "navbar-nav ml-auto">

      <% if admin_signed_in? %>
       <li class="nav-item mr-3">
        <%= link_to "ユーザー一覧", admins_users_path, class: "btn  btn-outline-dark ml-0" %>
       </li>
       <li class="mx-3">
        <%= link_to "話題一覧", admins_topics_path, class: "btn  btn-outline-dark ml-0" %>
       </li>
       <li class="mx-3">
        <%= link_to "ログアウト", destroy_admin_session_path, class: "btn  btn-outline-dark", method: :delete %>
       </li>
      <% elsif user_signed_in? %>
       <li class="nav-item mr-3">
        <%= link_to "マイページ", my_page_path(current_user), class: "btn  btn-outline-dark ml-0" %>
       </li>
       <li class="mx-3">
        <%= link_to "話題投稿", new_topic_path, class: "btn  btn-outline-dark ml-0" %>
       </li>
       <li class="mx-3">
        <%= link_to "about", home_about_path, class: "btn  btn-outline-dark ml-5" %>
       </li>
       <li class="mx-3">
        <%= link_to "話題一覧", topics_path, class: "btn  btn-outline-dark ml-0" %>
       </li>
       <li class="mx-3">
        <%= link_to "ログアウト", destroy_user_session_path, class: "btn  btn-outline-dark", method: :delete %>
       </li>
      <% else %>
       <li class="nav-item mr-3">
        <%= link_to "話題一覧", topics_path, class: "btn  btn-outline-dark ml-0" %>
       </li>
       <li class="mx-3">
        <%= link_to "about", home_about_path, class: "btn  btn-outline-dark ml-5" %>
       </li>
       <li class="mx-3">
        <%= link_to "新規登録", new_user_registration_path, class: "btn  btn-outline-dark" %>
       </li>
       <li class="mx-3">
        <%= link_to "ログイン", new_user_session_path, class: "btn  btn-outline-dark" %>
       </li>
      <% end %>
     </ul>
     </div>
     </div>
    </nav>
   </header>

   <% if signed_in? %>
    <div class="search_form float-right mt-2 mr-5 pr-5">
     <%= form_with url: search_searches_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['User'], ['Topic']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
     <% end %>
    </div>
   <% end %>
  <body>
    <%= yield %>
  </body>
</html>
